@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face
{
    font-family: 'Android';
    src: url(/Gustavo-curso/HTML-gustvalor/modo-02/dezafio01/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

/*
#c5ebd6
#86e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

/*
variavel *(piseudo classe)
*/
:root
{
    --cor0:#c5ebd6;
    --cor1:#86e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    --cor6:#fff;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-android:'Android', cursive;
    --fonte-destaque:.bebas-neue-regular; 
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;   
       
}
/*
codigo global
*/
*
{
    margin: 0px;
    padding: 0px;
}


body
{
    background-color:var(--cor0);
    font-family: var(--fonte-destaque);
}
header
{
    background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
    min-width: 150px;
    text-align: center;
    padding-top:40px;
}
header > h1
{
    
    font-family: var(--fonte-padrao);
    color: var(--cor6);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
header > p
{
    font-family: var(--fonte-padrao); /*fonte da letra*/
    font-size: 1.2em; /*crosira da letra*/
    color: var(--cor6);/*cor da letra*/
    max-width: 600px; /*tamanho maximo que pode chagr */
    padding-right: 10px ;
    margin-bottom:20px;
    padding-left: 10px;
    margin: auto; //*quando colocar uma (max-width) vira um bloco */ 
    
   
    

}
nav
{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    font-family: Arial, Helvetica, sans-serif;
}
nav > a
{
    color: var(--cor6);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}
nav > a:hover
{
    background-color: var(--cor3);
    color: var(--cor5);
}
main
{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: var(--cor6);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px;
}

main h1 
{
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}
main h2
{
    font-family: var(--fonte-android);
    font-weight: normal;
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
}
main p 
{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px; /*recuo do inicil*/
    line-height: 2em; /*autura da linha*/
}
main strong
{
    color: var(--cor4);
    font-weight: bold;
    box-shadow: -1px -1px 10px var(--cor5);
    background-color: #3ddc84;
    border-radius: 60px;

}
main a 
{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: rgba(0, 255, 255, 0.364);
    padding: 2px 6px;
    border-radius: 60px;
}
main a:hover
{
    text-decoration: underline;
    color: rgb(141, 7, 143);
}

main img
{
    width: 100%;
}
main img.pequena
{
    max-width: 350px;
    display: block; /*para fazer se tornar um bloco*/
    margin: auto; /*so tag de bloco vai conseguir ficar centralizada no meio */
    font-size: 1em; /*grosura da linha*/
}
div.video
{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}
div.video > iframe
{
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;
}
aside
{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.371);
}
aside > h3
{
    background-color: var(--cor4);
    color: #fff;
    padding: 10px;
    margin: -10px -10px 0px -10px ;
    border-radius: 10px 10px 0px 0px;
}
aside > ul
{
    list-style-position: inside; /*para deixar td dentro */
    columns: 2; /*pr fazer coluna*/
}
footer
{
    background-color: var(--cor5);
    color: var(--cor6);
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
}
footer a 
{
    color: var(--cor6);
    font-weight: bold;
    text-decoration: none;
}
footer a:hover
{
    text-decoration: underline;
    color: var(--cor1);
}

/*
capitulo 17 aula 12
*/

