@keyframes changeColor{
    from{ background-color: red;}
    to{background-color: blue;}
}

.box{
    width: 200px;
    height: 200px;
    border-style:solid ;
    animation-name: changeColor;/*nome da animação*/
    animation-duration: 10s;/*tempo da animação.*/
}

/*
@keyframes serve para criar animações personalizadas no CSS.
Ele diz como o elemento vai mudar com o tempo — por exemplo: cor, tamanho, posição, opacidade…

2️⃣ Como funciona
Você cria a animação dizendo o que acontece em cada momento.
Esses momentos podem ser definidos em porcentagens (% do tempo total) ou com palavras-chave como from (início) e to (fim).


para fazer a animacao, vai precisar tbm de ir no box(onde ta localizado) e usar os seguinte 

    animation-name: changeColor; -> informa o nome que vai ser modificado.
    animation-duration: 10s; -> informa o tempo que vai fazer animalçao.

*/